{% extends 'katalog.html' %}

{% block content %}
 <nav aria-label="breadcrumb" class="mt-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{ url 'header2' %}">Главная</a></li>
        <li class="breadcrumb-item active">{{ category.name }}</li>
      </ol>
    </nav>

 <div class="container1 container">
            <section class="section1">
                {% for product in category_products %}
                <div class="tovar">

                    <a href="{{ product.get_absolute_url }}">
                        <div  data-aos="zoom-in-up" title="О товаре" class="pod-tovar cart">
                            <a href="{{ product.get_absolute_url }}">
                                <img class="img" src="{{ product.image.url }}" alt="">
                            </a>
                            <p class="pod">
                                <a class="a name" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                <br>
                                <a class="p cost" href="{{ product.get_absolute_url }}">{{ product.price }} сом</a>

                            </p>
                            <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>

                        </div>
                    </a>
                </div>
               {% endfor %}
            </section>
            
        </div>

{% endblock content %}